<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Control</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Socket Control</h1>
        <p>Click the button to toggle the socket state:</p>
        <button id="toggleButton" class="btn btn-primary">Toggle</button>
        <p style="font-size: 5px;">Made by Nils and Aaron</p>
    </div>

    <script>
        const button = document.getElementById("toggleButton");
        let isOn = false;
    
        const updateButtonColor = () => {
            if (isOn) {
                button.classList.remove("btn-danger");
                button.classList.add("btn-success");
                button.innerText = "On";
            } else {
                button.classList.remove("btn-success");
                button.classList.add("btn-danger");
                button.innerText = "Off";
            }
        };
    
        button.addEventListener("click", async () => {
            isOn = !isOn;
            updateButtonColor();
            const response = await fetch('/toggle', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `state=${isOn}`
            });
            const data = await response.json();
            console.log(data);
        });
    
        updateButtonColor();
    </script>
</body>
</html>